.btn-link{
  color: #962c24;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary{
  color: #fff;
  background-color: #972c24 !important;
  border-color: #842f29 !important;
  box-shadow: none !important;
}
.card{
  background-color: #ffffffb5;
}
.card-header{
  background-color: rgb(255 255 255);
}