<div class="p-4 bgc-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 f-promo text-justify">
        Where you can <span class="font-weight-bold c-red">recommend platforms</span> and <span
          class="font-weight-bold c-red">earn money</span> referring people.
      </div>
    </div>
  </div>
</div>
<div class="decor"></div>
<div class="p-4 bgc-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 f-promo text-justify">
        <p>On <span class="font-weight-bold">Platforms</span> section, </p>
        <ul>
          <li>
            <p>discover interesting apps with amazing referral programs.</p>
          </li>
          <li>
            <p>constantly updated. We are searching for add more high quality apps.</p>
          </li>
          <li>
            <p>also you can platforms recommend us for our research. Mail to yourefer.contact@gmail.com</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="decor"></div>
<div class="p-4 bgc-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 f-promo text-justify">
        <p>On <span class="font-weight-bold">First Users</span> section, </p>
        <ul>
          <li>
            <p>our initial promo starting privilege.</p>
          </li>
          <li>
            <p>if you are one of the first 100 users, you will appear on this visible section forever.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="decor"></div>
<div class="p-4 bgc-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 f-promo text-justify">
        <p>On <span class="font-weight-bold">My List</span>,</p>
        <ul>
          <li>
            <p>Every user has his own personal YouRefer list. Customizable and shareable.</p>
          </li>
          <li>
            <p>You can add your own links on each platform. Click on <img src="../../../assets/img/home/add.PNG"> Copy your link. Save.</p>
          </li>
          <li>
            <p>Visitors will get all your referring links to your platforms at the same time.</p>
          </li>
          <li>
            <p>Sharing your YouRefer link by social media, forums or comments...</p>
          </li>
          <li>
            <p>Faster and bigger growths.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>