@font-face {
  font-family: "Promo";
  src: url("../../../assets/fonts/promo-font/Borutta Group - Promo Normal.otf");
}
@font-face {
  font-family: "Promo";
  src: url("../../../assets/fonts/promo-font/Borutta Group - Promo Bold.otf");
  font-weight: bold;
}

.f-promo {
  font-family: "Promo";
}

.bgc-red {
  background-color: #972c24cc;
}
.bgc-white {
  background-color: #ffffffbd;
}
.decor {
  display: inline-block;
  border-top: 5px solid #972c24;
  border-radius: 15px;
  width: 70%;
  height: 0;
  margin: 10px auto;
  left: 15%;
  position: relative;
}
