<div class="p-4 bgc-white">
    <div class="container">
        <div class="f-promo text-center">
            Where you can <span class="font-weight-bold c-red">recommend platforms</span> and <span class="font-weight-bold c-red">earn money</span> referring people.
        </div>
    </div>
</div>
<div class="my-2 p-4 bgc-white">
  <div class="container">
      <div class="f-promo text-center">
        <p>On platforms section, you can disconver interesting apps with amazing referral programs.</p>
      </div>
  </div>
</div>
<div class="my-2 p-4 bgc-white">
  <div class="container">
      <div class="f-promo text-center">
        <p>On My List, you can add your own links on each platform.</p>
        <p>Every user has his own personal YouRefer list. Customizable and shareable.</p>
        <p>Easy</p>
        <p>Visitors will get all your refering links to your platforms at the same time</p>
        <p>Sharing your YouRefer link by social media, forums or comments...</p>
        <p>Faster and bigger growths</p>
      </div>
  </div>
</div>