<div class="p-4 bgc-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center title">
        <h1><span class="c-red">You</span><span class="c-white ts-black">Refer</span></h1>
      </div>
      <div class="col-sm-6 f-promo text-justify">
        Where you can <span class="font-weight-bold c-red">recommend platforms</span> and <span
          class="font-weight-bold c-red">earn money</span> referring people.
        <ul class="mt-3">
          <li>
            <p>Of each of your accounts copy your referral link</p>
          </li>
          <li>
            <p>Share a unique WEB. Your own unified YouRefer link.</p>
          </li>
          <li>
            <p>Watch your earnings grow</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <img class="img-fluid mw-70px" src="../../../assets/img/whatis/central.png">
      </div>
      <div class="col-4 text-center">
        <img class="img-fluid mw-70px" src="../../../assets/img/whatis/share.png">
      </div>
      <div class="col-4 text-center">
        <img class="img-fluid mw-70px" src="../../../assets/img/whatis/grow.png">
      </div>
    </div>
  </div>
</div>
<div class="decor"></div>
<div class="p-4 bgc-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 f-promo text-justify">
        <p>On <span class="font-weight-bold">Platforms</span> section, </p>
        <ul>
          <li>
            <p>Discover interesting apps with amazing referral programs.</p>
          </li>
          <li>
            <p>Constantly updated. We are searching for add more high quality apps.</p>
          </li>
          <li>
            <p>Also you can recommend us platforms for our research. Mail to yourefer.contact@gmail.com</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <img class="img-fluid mw-70px" src="../../../assets/img/whatis/p-discover.png">
      </div>
      <div class="col-4 text-center">
        <img class="img-fluid mw-70px" src="../../../assets/img/whatis/p-update.png">
      </div>
      <div class="col-4 text-center">
        <img class="img-fluid mw-70px" src="../../../assets/img/whatis/p-hand.png">
      </div>
    </div>
  </div>
</div>
<div class="decor"></div>
<div class="p-4 bgc-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 f-promo text-justify">
        <p>On <span class="font-weight-bold">Firsts Users</span> section, </p>
        <ul>
          <li>
            <p>Our starting privilege.</p>
          </li>
          <li>
            <p>Firsts 100 users will appear on this visible section forever.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <span class="bg-black c-white br-3 px-4 py-2 text-nowrap">Promo !</span>
      </div>
    </div>
  </div>
</div>
<div class="decor"></div>
<div class="p-4 bgc-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 f-promo text-justify">
        <p>On <span class="font-weight-bold">My List</span>,</p>
        <ul>
          <li>
            <p>Every user has his own personal YouRefer list. Customizable and shareable.</p>
          </li>
          <li>
            <p>You can add your own links on each platform. Click on <img src="../../../assets/img/home/add.PNG"> Copy
              your link. Save.</p>
          </li>
          <li>
            <p>Visitors will get all your referring links to your platforms at the same time.</p>
          </li>
          <li>
            <p>Sharing your YouRefer link by social media, forums or comments...</p>
          </li>
          <li>
            <p>Faster and bigger growths.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <img class="img-fluid mw-70px" src="../../../assets/img/icons/person.png">
      </div>
    </div>
  </div>
</div>