@font-face {
  font-family: "Promo";
  src: url("../../../assets/fonts/promo-font/Borutta Group - Promo Normal.otf");
}
@font-face {
  font-family: "Promo";
  src: url("../../../assets/fonts/promo-font/Borutta Group - Promo Bold.otf");
  font-weight: bold;
}

.f-promo {
  font-family: "Promo";
}

.bgc-red {
  background-color: #972c24cc;
}
.bgc-white{
  background-color: #ffffff8c;
}