.platform-row {
  border: 3px solid white;
  background-color: #ecececc7;
  border-radius: 5px;
  padding: 15px 0 5px;
  margin: 15px 0;
  transition: 0.5s;
}
.platform-row.present {
  border: 3px solid #316d39a6;
  background-color: #fafffb;
}
.platform-row.adding {
  border: 3px solid #315a6da6;
  background-color: #fafeff;
}
.platform-row.editing {
  border: 3px solid #5d6d31a6;
  background-color: #fffefa;
}
.btn-edit-link,
.btn-add-link {
  margin: 0 4px;
  border-color: rgb(131, 59, 59);
}
.btn-edit-link span,
.btn-add-link span {
  margin: 0 4px;
  background: rgb(131, 59, 59);
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #fff;
  border-radius: 100px;
  vertical-align: text-bottom;
  line-height: 13px;
  font-weight: bold;
}
.btn-edit-link.open,
.btn-add-link.open {
  background: rgb(182, 182, 182);
}
.img-thumbnail {
  width: 100%;
  max-width: 90px;
  border: none;
  padding: 0;
  margin: 0 auto;
  display: block;
}
.col-add-link {
  padding-top: 10px;
  border-top: 3px black dashed;
  margin-top: 10px;
  flex: 0 0 90%;
  margin-left: 5%;
}
.col-add-link label {
  margin-bottom: 0;
}
.info-error {
  margin-bottom: 0;
  color: rgb(180, 34, 34);
  font-size: 12px;
}
.btn-save-link {
  margin: 3px;
  float: right;
}
.btn-visit{
  font-size: bold;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-visit, .btn-visit:hover, .btn-visit:active, .btn-visit:focus, .btn-visit{
  background-color: rgb(131, 59, 59) !important;
  border-color: #bb908c !important;
  box-shadow: none !important;
}




.categories-container {
  margin: 10px 0;
  padding: 5px 0;
  border-top: 1px solid black;
}
div.category {
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 2px;
}
div.category.category-cryptocoin{
  border: 2px solid #ffd355;
  background-color: #ffee9c;
}
div.category.category-money{
  border: 2px solid rgb(54, 100, 56);
  background-color: #aee0bd;
}
div.category.category-video{
  border: 2px solid rgb(139, 37, 37);
  background-color: #e8a9ae;
}
div.category.category-games{
  border: 2px solid rgb(99, 27, 105);
  background-color: #ffcefd;
}
div.category.category-app{
  border: 2px solid rgb(27, 67, 105);
  background-color: #c3d3f3;
}
div.category.category-ads{
  border: 2px solid rgb(76, 83, 88);
  background-color: rgb(184, 187, 190);
}
div.category.category-faucet{
  border: 2px solid rgb(117, 119, 121);
  background-color: rgb(222, 224, 226);
}
div.category.category-news{
  border: 2px solid rgb(122, 101, 89);
  background-color: rgb(224, 198, 158);
}
.offer-category-icon{
  width: 15px;
  height: auto;
  margin-top: -2px;
}