.platform-row {
  border: 3px solid white;
  background-color: #ecececc7;
  border-radius: 5px;
  padding: 15px 0 5px;
  margin: 15px 0;
  transition: 0.5s;
}
.platform-row.present {
  border: 3px solid #316d39a6;
  background-color: #fafffb;
}
.platform-row.adding {
  border: 3px solid #315a6da6;
  background-color: #fafeff;
}
.platform-row.editing {
  border: 3px solid #5d6d31a6;
  background-color: #fffefa;
}
.btn-edit-link,
.btn-add-link {
  margin: 0 4px;
  border-color: rgb(131, 59, 59);
}
.btn-edit-link span,
.btn-add-link span {
  margin: 0 4px;
  background: rgb(131, 59, 59);
  display: inline-block;
  width: 18px;
  height: 18px;
  color: #fff;
  border-radius: 100px;
  vertical-align: text-bottom;
  line-height: 13px;
  font-weight: bold;
}
.btn-edit-link.open,
.btn-add-link.open {
  background: rgb(182, 182, 182);
}
.img-thumbnail {
  width: 100%;
  max-width: 90px;
  border: none;
  padding: 0;
  margin: 0 auto;
  display: block;
}
.col-add-link {
  padding-top: 10px;
  border-top: 3px black dashed;
  margin-top: 10px;
  flex: 0 0 90%;
  margin-left: 5%;
}
.col-add-link label {
  margin-bottom: 0;
}
.info-error {
  margin-bottom: 0;
  color: rgb(180, 34, 34);
  font-size: 12px;
}
.btn-save-link {
  margin: 3px;
  float: right;
}
.btn-visit{
  font-size: bold;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-visit, .btn-visit:hover, .btn-visit:active, .btn-visit:focus, .btn-visit{
  background-color: rgb(131, 59, 59) !important;
  border-color: #bb908c !important;
  box-shadow: none !important;
}