<div class="container container-promo f-promo">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Discover best apps</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Share improved</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Earn more</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <a class="btn btn-custom text-decoration-none" href="/what">What is?</a>
      <a class="mx-3 ts-white c-red font-weight-bold" href="/account/register">Register</a>
    </div>
  </div>
</div>