@font-face {
  font-family: "Promo";
  src: url("../../../assets/fonts/promo-font/Borutta Group - Promo Normal.otf");
}
@font-face {
  font-family: "Promo";
  src: url("../../../assets/fonts/promo-font/Borutta Group - Promo Bold.otf");
  font-weight: bold;
}

.f-promo {
  font-family: "Promo";
}
.container-promo h3{
  padding: 10px 0;
  background: linear-gradient(to right, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 75%) 50%, rgb(255 255 255 / 0%) 100%);
}

.btn-custom{
  color: #fff;
}
.btn-custom, .btn-custom:hover, .btn-custom:active, .btn-custom:focus, .btn-custom{
  color: #fff;
  background-color: rgb(131, 59, 59) !important;
  border-color: #bb908c !important;
  box-shadow: none !important;
}
a{
  cursor: pointer;
  text-decoration: underline;
}