/* You can add global styles to this file, and also import other style files */
body{
  background-image: url(../src/assets/img/backgrounds/gray-3.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.container-white{
  background-color: rgba(255, 255, 255, 0.849);
  border-radius: 3px;
}
.ff-lg{
  font-family: 'League Gothic';
}
.c-blue {
  color: rgb(36, 115, 151);
}
.c-green {
  color: rgb(36, 151, 113);
}
.c-red {
  color: rgb(151, 44, 36);
}
.c-white{
  color: #ffffff;
}
.bg-red {
  background-color: rgb(151, 44, 36);
}