<h1 *ngIf="!canEdit" class="text-center c-red">The list of <span class="c-white t-shadow"
    *ngIf="userByCode">{{userByCode.username}}</span></h1>
<div *ngIf="canEdit" class="container">
  <h1 class="text-center c-red">My <span class="c-white t-shadow" *ngIf="userByCode">List</span></h1>
  <div class="row">
    <div class="col-md-8 offset-md-2 col-12 text-center" (click)="shareableClicking()">
      <input class="form-control w-90 d-inline-block mr-2 cur-pointer shareableInput"
        [ngClass]="{'clicked': shareableClicked}" type="text" value="{{shareable}}" readonly
        [cdkCopyToClipboard]="shareable">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        [ngClass]="{'clicked': shareableClicked}" class="bi bi-clipboard" viewBox="0 0 16 16">
        <path
          d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
        <path
          d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
      </svg>
      <div class="c-green font-weight-bold d-inline ml-1 ts-white" [ngClass]="{'c-transparent': !shareableClicked}">
        Copied!</div>
    </div>
  </div>
</div>
<div class="container">
  <form [formGroup]="platformsForm">
    <div class="row platform-row" *ngFor="let platform of platforms; let i = index"
      [ngClass]="{'present': platform.link, 'adding': platform.addingLink, 'editing': platform.editingLink}">
      <div class="col-12">
        <div class="text-right c-blue mt--1" *ngIf="canEdit && platform.linkOnInit && platform.link !== ''">
          <div class="order-list float-left position-absolute text-center">
            <span (click)="order(i, i-1, platform)" *ngIf="i !== 0" class="order-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path
                  d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
              </svg>
            </span>
            <span class="cursor-def">{{i + 1}}</span>
            <span (click)="order(i, i+1, platform)" *ngIf="platforms.length > i+1 && platforms[i+1].linkOnInit && platforms[i+1].link !== ''"
              class="order-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path
                  d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
              </svg>
            </span>
          </div>
          <div>
            <span *ngIf="!platform.editingLink" (click)="platform.editingLink = !platform.editingLink"
              class="edit-btn px-1">
              Edit
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </span>
            <span *ngIf="platform.editingLink" (click)="platform.editingLink = !platform.editingLink"
              class="close-edit-btn px-1 c-red">
              Editing
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </span>
          </div>
        </div>
        <div class="text-right c-green mt--1" *ngIf="canEdit && (!platform.linkOnInit || platform.link === '')"
          (click)="platform.addingLink = !platform.addingLink">
          <span *ngIf="platform.addingLink" class="close-add-btn px-1 c-red">
            Adding
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </span>
          <span *ngIf="!platform.addingLink" class="add-btn px-1">
            Add
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
          </span>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3 lg-mt--1 text-center">
        <h5 class="text-capitalize">{{platform.name}}</h5>
        <img class="logo-platform img-thumbnail" src="assets/img/platforms/{{platform.skuname}}/icon.jpg">
        <span class="my-1 c-blue fs-13" *ngIf="canEdit && platform.linkOnInit && platform.link !== ''">
          Already on my list
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
          </svg>
        </span>
        <div class="col-12 text-center">
          <div class="categories-container">
            <div class="category category-{{category}}" *ngFor="let category of platform.categories">
              <img class="offer-category-icon" src="../../../assets/img/icons/categories/{{category}}-icon.png">
              {{category}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-9">
        <div class="description text-center mx-3 mb-3 mt-2">
          {{platform.description}}
        </div>
        <div class="link-go text-center">
          <a *ngIf="platform.link" class="btn btn-success btn-visit px-5" href="{{platform.link}}"
            target="_blank">Visit</a>
          <a *ngIf="!platform.link" class="btn btn-success btn-visit px-5" href="{{platform.defaultLink}}"
            target="_blank">Visit</a>
        </div>
      </div>

      <div class="col-12 col-add-link"
        *ngIf="platformsForm && platformsForm.controls[i] && (((!platform.linkOnInit || platform.link === '') && platform.addingLink) || platform.linkOnInit && platform.editingLink)">
        <div [formGroup]="platformsForm.controls[i]">
          <label>My link</label>
          <input type="text" formControlName="link" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && platformsForm.controls[i].controls.link && platformsForm.controls[i].controls.link.errors }" />
          <div
            *ngIf="submitted && platformsForm.controls[i].controls.link && platformsForm.controls[i].controls.link.errors"
            class="invalid-feedback">
            <div *ngIf="platformsForm.controls[i].controls.link.errors.pattern">{{ platform.validation |
              parseValidationPipe }}</div>
          </div>
          <div class="btn btn-success btn-save-link" (click)="savePlatformLink(platform, i)">Save</div>
        </div>
      </div>
    </div>
  </form>
</div>